<docs>
Provides a bootstrap tabs element that contains
* an svg protocol map editor
* a protocol component editor
* a view of the underlying json code
that can be used to edit a PROformajs protocol:

# props

* protocol - a PROformajs protocol
* selectedtask - path of the currently selected task

# events

* change-protocol - signal change to protocol, pass updated protocol in event
* select-task - signal selected task has changed, pass new path in event
</docs>

<template>
  <b-tabs @input="focusAce" pills small end>
    <b-tab title="Editor" active>
      <div class="row">
        <div v-bind:class="{ 'col-sm-8': protocol.tasks, 'col-sm-5': !protocol.tasks }">
          <pc-map :protocol="protocol" :selectedtask="selectedtask" @select-task="$emit('select-task', $event)" @delete-task="$refs.deleteTaskModal.show()" :issues="allIssues"/>
        </div>
        <div v-bind:class="{ 'col-sm-4': protocol.tasks, 'col-sm-7': !protocol.tasks }">
          <pc-task ref="taskEditor" :protocol="protocol" :path="selectedtask" :issues="selectedTaskIssues" @change-protocol="relayChangeEvent($event,1)" @delete-task="$refs.deleteTaskModal.show()" @select-task="$emit('select-task', $event)"/>
        </div>
      </div>
      <!-- Modal Component -->
      <b-modal ref="deleteTaskModal" id="deleteTask" title="Remove task" @ok="deleteTask">
        <p class="my-4">Are you sure you wish to remove this task?</p>
      </b-modal>
    </b-tab>
    <b-tab title="Code">
      <div class="row">
        <div class="col-sm-4">
          <pc-tree :protocol="protocol" :selectedtask="selectedtask" @select-task="$emit('select-task', $event)" />
        </div>
        <div class="col-sm-8">
          <pc-code ref="code" :protocol="protocol" :selectedtask="selectedtask"  @change-protocol="relayChangeEvent($event,2)"/>
        </div>
      </div>
    </b-tab>
  </b-tabs>
</template>

<script>
import ComposeMap from './ComposeMap.vue';
import ComposeTask from './ComposeTask.vue';
import ComposeTree from './ComposeTree.vue';
import ComposeCode from './ComposeCode.vue';
import { Protocol } from '@openclinical/proformajs';
import { TemporalConstraintMixin } from './compose.js';

export default {
  name: 'p-compose',
  mixins: [ TemporalConstraintMixin ],
  props: ['protocol','selectedtask'],
  components: {
    'pc-code' : ComposeCode,
    'pc-task' : ComposeTask,
    'pc-map' : ComposeMap,
    'pc-tree' : ComposeTree
  },
  data: function() {
    return {
      jsonValid: true
    };
  },
  computed: {
    allIssues() {
      return this.jsonValid ? this.protocol.validate() : [];
    },
    selectedTaskIssues() {
      if (this.jsonValid) {
        let issues = this.protocol.validate().filter((issue) => issue.path.startsWith(this.selectedtask));
        return issues;
      } else {
        return [];
      }
    },
    protocolValid() {
      return this.protocol.isValid();
    }
  },
  methods: {
    focusAce(evt) {
      // when the code tab is hidden the ace editor doesnt update (which is good)
      // but I find I need to force focus when it is revealed...
      if (evt==1) { // index of code tab
        this.$refs.code.focusSelected();
      }
    },
    selectTask(path) {
      function parentTask(comp) {
        if (comp instanceof Protocol.Task) {
          return comp;
        } else {
          if (comp._parent) {
            return parentTask(comp._parent);
          }
        }
      }
      const task = parentTask(this.protocol.getComponent(path)).path();
      this.$emit('select-task', {value: task});
    },
    deleteTask(evt) {
      let selected = this.protocol.getComponent(this.selectedtask);
      let plan = selected._parent;
      // remove downstream tasks
      for (let task of plan.tasks) {
        if (task.name != selected.name) {
          let deps = this.getTemporalDeps(task);
          if (deps.indexOf(selected.name)>-1) {
            this.removeAntecedent(selected._parent.path(), selected.name, task.name);
          }
        }
      }
      // remove upstream tasks
      for (let dep of this.getTemporalDeps(selected)) {
        this.removeAntecedent(selected._parent.path(), dep, selected.name);
      }
      // delete task
      plan.tasks.splice(plan.tasks.indexOf(selected), 1);
      this.$emit('select-task', {value: plan.path()});
      this.$emit('change-protocol', {value :this.protocol, emitter:'p-compose.0'});
    },
    relayChangeEvent(evt, idx) {
      evt.relay = "p-compose."+idx;
      this.$emit('change-protocol', evt);
    }
  }
}
</script>
