<docs>
Provides the means to review and edit a PROformajs component's boolean attribute with an html input checkbox field

# props

* att - attribute
* comp - component
* label - attribute label (optional - defaults to "de camel cased" name)
* description - input help text (optional)

# events

* change-attribute - signals the need to update the component's attribute value
</docs>

<template>
  <b-form-checkbox :id="att" :checked="comp[att]" size="sm" label-size="sm" :description="description" @change="$emit('change-attribute', {name:att, value: $event})" :disabled="disabled" inline>
    {{labelValue}}
  </b-form-checkbox>
</template>

<script>
import { AttributeMixin } from './attribute.js';

export default {
  mixins: [AttributeMixin]
}
</script>
