<docs>
Provides a clickable, nestable row of task tabs for ReviewTabbed.

# props

* plan - a PROformajs enactment plan that provides the list of tasks
* selected - the path of the currently presented task

# events

* select-task - change the currently presented task

# notes

This component is separate to ReviewTabbed as you might have multiple rows of tabs for plans with sub-plans and sub-sub-plans and so on (hence its called a nestable set of task tabs).

Managing the active tab is slightly tricky as if you click a plan task tab you want one of the children or grandchildren (etc, at least theoretically) to be the task that is shown to the user.
</docs>

<template>
  <b-tabs
    card
    >
    <b-tab
      v-for="task in tabs"
      :key="task.path"
      :title="task.caption || task.name"
      no-body
      :disabled="task.state!='in_progress'"
      :active="activeTab==task.path"
      @click="$emit('select-task', {value: task.path})"
      >
      <pr-tabbed-tabs
        v-if="Object.keys(task).includes('tasks')"
        :plan="task"
        :selected="selected"
        @select-task="$emit('select-task', $event)"
      />
    </b-tab>
  </b-tabs>
</template>

<script>
export default {
  name: 'pr-tabbed-tabs',
  data: function() {
    return {
      activeTab: null // path of active tab task
    }
  },
  props: ['plan', 'selected'],
  computed: {
    tabs() {
      let result = [];
      let activated = false; // this need happen only once
      if (this.plan && this.plan.tasks) {
        for (const task of this.plan.tasks) {
          if (task.state=="dormant" || task.state=="in_progress") {
            result.push(task);
            if (this.selected && !activated) {
              if (task.path == this.selected) {
                this.activeTab = task.path;
                activated = true;
              }
              if (this.childOf(task.path, this.selected)) {
                this.activeTab = task.path;
                activated = true;
              }
              // this task is a child of the selected task
              if (this.childOf(this.selected, task.path)) {
                this.$emit('select-task', {value: task.path});
                activated = true;
              }
            }
          }
        }
      }
      return result;
    }
  },
  methods: {
    // returns true if child path is a child of parent path
    // childOf('root', 'root:actionA') == true
    // childOf('root', 'root') == false
    // childOf('root:Q1', 'root:Q10') == false
    childOf(parent, child) {
      let result = child && parent && child.split(":").length>parent.split(":").length && child.startsWith(parent);
      return child && parent && child.split(":").length>parent.split(":").length && child.startsWith(parent);
    }
  }
}
</script>
