<docs>
Provides a compact UI for a proformajs Enactment.

# props

* enactment - a PROformajs enactment
* options - review settings
* debug - allows access to the "Debug expressions" functionality

# events

* change-enactment - signals the need to update the enactment
* change-option - signals an option change

todo:
* mobile view
* single task mode
</docs>

<template>
  <div v-if="enactment">
    <div class="row" style="margin-bottom: 80px">
      <div class="col-md-9">
        <!-- task view -->
        <template v-if="view=='task'">
          <template v-if="enactment.protocol.tasks">
            <!-- header for plan enactment (as opposed to task enactment) -->
            <h3>
              {{enactment ? enactment.protocol.caption || enactment.protocol.name : ''}}
            </h3>
            <div class="row" v-if="enactment && enactment.protocol.description">
              <div class="col">
                <pr-markdown class="mb-0" :text="enactment.protocol.description" @send-trigger="sendTrigger" />
              </div>
            </div>
            <hr />
          </template>
          <div v-if="status.finished">
            <slot name="finished">
              <h3>All done</h3>
            </slot>
          </div>
          <div v-else>
            <pr-task :task="activeTask" :enactment="enactment" @update-enactment="updateEnactment" :options="options" @send-trigger="sendTrigger"/>
          </div>
        </template>
        <!-- data view -->
        <template v-if="view=='data'">
          <h3>Data</h3>
          <pr-data
            :enactment="enactment"
            @update-enactment="updateEnactment"
            :options="options"
          />
        </template>
        <!-- history view -->
        <div v-if="view=='history'">
          <h3>History</h3>
          <pr-history :enactment="enactment" />
        </div>
        <!-- select view -->
        <template v-if="view=='select'">
          <div class="row">
            <div class="col">
              <h3>Select</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <b-card-group deck>
                <b-card>
                  <template slot="header"><h5>Available Tasks</h5></template>
                  <b-list-group v-if="availableTasks.length>0">
                    <b-list-group-item v-for="task in availableTasks" :data-path="path" :data-taskpath="task.path" v-bind:class="{active: task.path==path}" :key="task.name" button @click="updatePath({value:task.path})">{{task.caption || task.name}}</b-list-group-item>
                  </b-list-group>
                  <p v-else class="text-muted">No currently available tasks</p>
                </b-card>
              </b-card-group>
            </div>
            <div class="col-sm-6">
              <b-card-group deck>
                <b-card>
                  <template slot="header"><h5>Triggers</h5></template>
                  <b-list-group v-if="status && status.triggers && status.triggers.length>0">
                    <b-list-group-item v-for="(trigger, index) in status.triggers" :key="index" button @click="sendTrigger(trigger)">{{trigger}}</b-list-group-item>
                  </b-list-group>
                  <p v-else class="text-muted">No available triggers</p>
                </b-card>
              </b-card-group>
            </div>
          </div>
        </template>
        <!-- settings view -->
        <div v-if="view=='settings'" class="row">
          <div class="col">
            <h3>Settings</h3>
            <label v-if="debug"><input type='checkbox' :checked="options.debug" @click="$emit('change-option', {option: 'debug', value: !options.debug})"/> Debug expressions</label>
            <h5>Decisions</h5>
            <div>
              <label><input type='checkbox' :checked="options.Decision.showInactiveArguments" @click="$emit('change-option', {category: 'Decision', option: 'showInactiveArguments', value: !options.Decision.showInactiveArguments})"/> Show inactive arguments</label>
            </div>
            <div>
              <label><input type='checkbox' :checked="options.Decision.showExpressions" @click="$emit('change-option', {category: 'Decision', option: 'showExpressions', value: !options.Decision.showExpressions})"/> Show expressions</label>
            </div>
            <div>
              <label><input type='checkbox' :checked="options.Candidate.autoConfirmRecommended" @click="$emit('change-option', {category: 'Candidate', option: 'autoConfirmRecommended', value: !options.Candidate.autoConfirmRecommended})"/> Auto-confirm candidates</label>
            </div>
            <h5>Enquiries</h5>
            <div>
              <label><input type='checkbox' :checked="options.Enquiry.useDefaults" @click="$emit('change-option', {category: 'Enquiry', option: 'useDefaults', value: !options.Enquiry.useDefaults})"/> Use defaults</label>
            </div>
            <b-btn variant="outline-secondary" size="sm" @click="restartEnactment" block>
              <font-awesome-icon icon="redo-alt" /> Restart
            </b-btn>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <template v-if="enactment.protocol.tasks">
          <!-- settings popover for plans in desktop view -->
          <div class="float-right">
            <b-button id="task-settings" variant="outline-secondary" href="#" tabindex="0">
              <font-awesome-icon icon="cog"/>
            </b-button>
          </div>
          <b-popover target="task-settings" placement="left" title="Decision Settings" triggers="focus">
            <label v-if="debug"><input type='checkbox' :checked="options.debug" @click="$emit('change-option', {option: 'debug', value: !options.debug})"/> Debug expressions</label>
            <div class="font-weight-bold pb-2">Decisions</div>
            <label><input type='checkbox' :checked="options.Decision.showInactiveArguments" @click="$emit('change-option', {category: 'Decision', option: 'showInactiveArguments', value: !options.Decision.showInactiveArguments})"/> Show inactive arguments</label>
            <label><input type='checkbox' :checked="options.Decision.showExpressions" @click="$emit('change-option', {category: 'Decision', option: 'showExpressions', value: !options.Decision.showExpressions})"/> Show expressions</label>
            <label><input type='checkbox' :checked="options.Candidate.autoConfirmRecommended" @click="$emit('change-option', {category: 'Candidate', option: 'autoConfirmRecommended', value: !options.Candidate.autoConfirmRecommended})"/> Auto-confirm candidates</label>
            <label><input type='checkbox' :checked="options.Decision.allowDownloads" @click="$emit('change-option', {category: 'Decision', option: 'allowDownloads', value: !options.Decision.allowDownloads})"/> Allow Downloads</label>
            <div class="font-weight-bold pb-2">Enquiries</div>
            <label><input type='checkbox' :checked="options.Enquiry.useDefaults" @click="$emit('change-option', {category: 'Enquiry', option: 'useDefaults', value: !options.Enquiry.useDefaults})"/> Use defaults</label>
            <b-btn variant="outline-secondary" size="sm" @click="$emit('restart-enactment')" class="d-block d-sm-none" block>
              <font-awesome-icon icon="redo-alt" /> Restart
            </b-btn>
          </b-popover>
          <h4 class="mt-2">
            Tasks
            <span class="badge badge-warning" v-show="status.finished">Completed</span>
          </h4>
          <b-button
            v-for="task in availableTasks"
            :data-path="path"
            :data-taskpath="task.path"
            v-bind:class="{active: view=='task' && task.path==path}"
            :key="task.name"
            block
            variant="outline-secondary"
            @click="selectTask(task.path)">
            {{task.caption || task.name}}
          </b-button>
        </template>
        <template v-else>
          <!-- settings for a single task are inline in desktop view -->
          <b-button
            v-bind:class="{active: view=='task'}"
            block
            variant="outline-secondary"
            @click="view='task'">
            <font-awesome-icon icon="clipboard-check" /> Task
          </b-button>
          <label class="mt-2" v-if="debug"><input type='checkbox' :checked="options.debug" @click="$emit('change-option', {option: 'debug', value: !options.debug})"/> Debug expressions</label>
          <template v-if="enactment.protocol.candidates">
            <div class="font-weight-bold pb-2">Decisions</div>
            <div><label><input type='checkbox' :checked="options.Decision.showInactiveArguments" @click="$emit('change-option', {category: 'Decision', option: 'showInactiveArguments', value: !options.Decision.showInactiveArguments})"/> Show inactive arguments</label></div>
            <div><label><input type='checkbox' :checked="options.Decision.showExpressions" @click="$emit('change-option', {category: 'Decision', option: 'showExpressions', value: !options.Decision.showExpressions})"/> Show expressions</label></div>
            <div><label><input type='checkbox' :checked="options.Candidate.autoConfirmRecommended" @click="$emit('change-option', {category: 'Candidate', option: 'autoConfirmRecommended', value: !options.Candidate.autoConfirmRecommended})"/> Auto-confirm candidates</label></div>
            <div><label><input type='checkbox' :checked="options.Decision.allowDownloads" @click="$emit('change-option', {category: 'Decision', option: 'allowDownloads', value: !options.Decision.allowDownloads})"/> Allow Downloads</label></div>
          </template>
        </template>
        <template v-if="status && status.triggers && status.triggers.length>0">
          <h4>Triggers</h4>
          <b-button
            v-for="(trigger, index) in status.triggers"
            :key="index"
            block
            @click="sendTrigger(trigger)">
            {{trigger}}
          </b-button>
        </template>
        <template v-if="enactment.protocol.tasks">
          <pr-map
            :enactment="enactment"
            :selectedtask="path"
            @select-task="updatePath" class="mt-2"
          />
        </template>
        <b-button
          block
          variant="outline-secondary"
          v-bind:class="{active: view=='data'}"
          @click="view='data'">
          <font-awesome-icon icon="table" /> Data
        </b-button>
        <b-button
          block
          variant="outline-secondary"
          v-bind:class="{active: view=='history'}"
          @click="view='history'">
          <font-awesome-icon icon="history" /> History
        </b-button>
        <b-button
          block
          variant="outline-secondary"
          @click="restartEnactment">
          <font-awesome-icon icon="redo-alt" /> Restart
        </b-button>
      </div>
    </div>
    <!-- navbar for mobile view (visible only on sm or xs viewports)-->
    <div class="row d-md-none">
      <div class="col">
        <b-navbar variant="light" fixed="bottom">
          <b-navbar-nav>
            <b-nav-item
              @click="view='task'"
              v-bind:class="{active: view=='task'}">
              <font-awesome-icon icon="clipboard-check" size="lg" class="mr-2" />
            </b-nav-item>
            <b-nav-item
              v-if="enactment.protocol.tasks"
              @click="view='select'"
              v-bind:class="{active: view=='select'}">
              <font-awesome-icon icon="hand-pointer" size="lg" class="mr-2" />
            </b-nav-item>
            <b-nav-item
              @click="view='data'"
              v-bind:class="{active: view=='data'}">
              <font-awesome-icon icon="table" size="lg" class="mr-2" />
            </b-nav-item>
            <b-nav-item
              @click="view='history'"
              v-bind:class="{active: view=='history'}">
              <font-awesome-icon icon="history" size="lg" class="mr-2" />
            </b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto"><!-- right aligned-->
            <b-nav-item
              @click="view='settings'"
              v-bind:class="{active: view=='settings'}">
              <font-awesome-icon icon="cog" size="lg" />
            </b-nav-item>
          </b-navbar-nav>
        </b-navbar>
      </div>
    </div>
  </div>
</template>

<script>
import { ReviewMixin } from './review';

export default {
  mixins: [ReviewMixin],
  data: function() {
    return {
      view: 'task' // task, data, history, select*, settings* (* - xs and sm view)
    }
  },
  methods: {
    selectTask(path) {
      this.updatePath({value: path})
      this.view = 'task';
    },
    restartEnactment() {
      this.view = 'task';
      this.$emit('restart-enactment');
    }
  }
}
</script>
