<docs>
A tablist that provides access to all the enactment runtime data.

# props

* enactment - a PROformajs enactment

# events
</docs>

<template>
  <div>
    <div role="tablist" v-if="enactment && enactment.getDataDefinitions().length>0">
      <b-card no-body class="mb-1" v-for="dd in enactment.getDataDefinitions()" :key="accordianId(dd)">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle="accordianId(dd)" :variant="value(dd.name)!=null ? 'info' : 'link'">
            {{dd.caption || dd.name}}
            <span v-if="value(dd.name)!=null">({{dd.name}} = {{value(dd.name)}})</span>
          </b-button>
        </b-card-header>
        <b-collapse :id="accordianId(dd)" accordion="enactment-data" role="tabpanel">
          <b-card-body>
            <pr-source v-if="!dd.valueCondition" suffix="data" :source="dd" :value="value(dd.name)"  @erase-source="updateSource" @update-source="updateSource" />
            <div v-else class="form-group">
              <label for="name" class="col-form-label col-form-label-sm pt-0">{{dd.caption || dd.name}} <b-badge pill variant="secondary">dynamic</b-badge></label>
              <div class="text-secondary"><em>{{dd.valueCondition}}</em></div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
    <p v-else class="text-muted">No data definitions available</p>
    <pr-expression
      v-if="options.debug"
      :enactment="enactment"
      :path="enactment.protocol.name"
      description="Evaluate expression from the context of the root task"
      class="mt-3"
      id="data"/>
  </div>
</template>

<script>
import ReviewSource from './ReviewSource.vue';
import ReviewExpression from './ReviewExpression.vue';
export default {
  props: ['enactment', 'options'],
  components: {
    'pr-source': ReviewSource,
    'pr-expression': ReviewExpression
  },
  methods: {
    accordianId(value) {
      return "accordian" + value.path.replace("[","").replace("]","").replace(":","");
    },
    updateSource(evt) {
      evt.path=this.enactment.runtimeFromDesignPath(this.enactment.protocol.name);
      this.$emit('update-enactment', evt);
    },
    value(type) {
      let path = this.enactment.runtimeFromDesignPath(this.enactment.protocol.name);
      return this.enactment.get(path, type);
    }
  }
}
</script>
