<docs>
Provides a UI for a proformajs Enactment.

# props

* enactment - a PROformajs enactment
* options - review settings
* debug - allows access to the "Debug expressions" functionality

# events

* change-enactment - signals the need to update the enactment
* change-option - signals an option change

</docs>

<template>
  <div v-if="enactment">
    <template v-if="enactment.protocol.tasks">
      <div class="row">
        <div class="col">
          <div class="float-right">
            <b-btn variant="outline-secondary" @click="$emit('restart-enactment')" class="d-none d-sm-inline">
              <font-awesome-icon icon="redo-alt" /> Restart
            </b-btn>
            <b-button id="task-settings" variant="outline-secondary" href="#" tabindex="0" class="ml-1">
              <font-awesome-icon icon="cog"/>
            </b-button>
          </div>
          <b-popover target="task-settings" placement="left" title="Review Settings" triggers="focus">
            <label v-if="debug"><input type='checkbox' :checked="options.debug" @click="$emit('change-option', {option: 'debug', value: !options.debug})"/> Debug expressions</label>
            <div class="font-weight-bold pb-2">Decisions</div>
            <label><input type='checkbox' :checked="options.Decision.showInactiveArguments" @click="$emit('change-option', {category: 'Decision', option: 'showInactiveArguments', value: !options.Decision.showInactiveArguments})"/> Show inactive arguments</label>
            <label><input type='checkbox' :checked="options.Decision.showExpressions" @click="$emit('change-option', {category: 'Decision', option: 'showExpressions', value: !options.Decision.showExpressions})"/> Show expressions</label>
            <label><input type='checkbox' :checked="options.Candidate.autoConfirmRecommended" @click="$emit('change-option', {category: 'Candidate', option: 'autoConfirmRecommended', value: !options.Candidate.autoConfirmRecommended})"/> Auto-confirm candidates</label>
            <label><input type='checkbox' :checked="options.Decision.allowDownloads" @click="$emit('change-option', {category: 'Decision', option: 'allowDownloads', value: !options.Decision.allowDownloads})"/> Allow Downloads</label>
            <div class="font-weight-bold pb-2">Enquiries</div>
            <label><input type='checkbox' :checked="options.Enquiry.useDefaults" @click="$emit('change-option', {category: 'Enquiry', option: 'useDefaults', value: !options.Enquiry.useDefaults})"/> Use defaults</label>
            <b-btn variant="outline-secondary" size="sm" @click="$emit('restart-enactment')" class="d-block d-sm-none" block>
              <font-awesome-icon icon="redo-alt" /> Restart
            </b-btn>
          </b-popover>
          <h3>
            {{enactment ? enactment.protocol.caption || enactment.protocol.name : ''}}
            <span class="badge badge-warning" v-show="status.finished">Completed</span>
          </h3>
        </div>
      </div>
      <div class="row" v-if="enactment && enactment.protocol.description">
        <div class="col">
          <pr-markdown class="mb-0" :text="enactment.protocol.description" @send-trigger="sendTrigger" />
        </div>
      </div>
      <hr/>
    </template>
    <div class="row">
      <div class="col-md-6 order-md-2"><!-- Selected task detail -->
        <template v-if="!enactment.protocol.tasks"><!-- settings dialogue for single decision -->
              <div class="float-right">
                <b-btn variant="outline-secondary" @click="$emit('restart-enactment')" class="d-none d-sm-inline">
                  <font-awesome-icon icon="redo-alt" /> Restart
                </b-btn>
                <b-button id="task-settings" variant="outline-secondary" href="#" tabindex="0">
                  <font-awesome-icon icon="cog"/>
                </b-button>
              </div>
          <b-popover target="task-settings" placement="left" title="Decision Settings" triggers="focus">
            <label v-if="debug"><input type='checkbox' :checked="options.debug" @click="$emit('change-option', {option: 'debug', value: !options.debug})"/> Debug expressions</label>
            <div class="font-weight-bold pb-2">Decisions</div>
            <label><input type='checkbox' :checked="options.Decision.showInactiveArguments" @click="$emit('change-option', {category: 'Decision', option: 'showInactiveArguments', value: !options.Decision.showInactiveArguments})"/> Show inactive arguments</label>
            <label><input type='checkbox' :checked="options.Decision.showExpressions" @click="$emit('change-option', {category: 'Decision', option: 'showExpressions', value: !options.Decision.showExpressions})"/> Show expressions</label>
            <label><input type='checkbox' :checked="options.Candidate.autoConfirmRecommended" @click="$emit('change-option', {category: 'Candidate', option: 'autoConfirmRecommended', value: !options.Candidate.autoConfirmRecommended})"/> Auto-confirm candidates</label>
            <label><input type='checkbox' :checked="options.Decision.allowDownloads" @click="$emit('change-option', {category: 'Decision', option: 'allowDownloads', value: !options.Decision.allowDownloads})"/> Allow Downloads</label>
            <div class="font-weight-bold pb-2">Enquiries</div>
            <label><input type='checkbox' :checked="options.Enquiry.useDefaults" @click="$emit('change-option', {category: 'Enquiry', option: 'useDefaults', value: !options.Enquiry.useDefaults})"/> Use defaults</label>
            <b-btn variant="outline-secondary" size="sm" @click="$emit('restart-enactment')" class="d-block d-sm-none" block>
              <font-awesome-icon icon="redo-alt" /> Restart
            </b-btn>
          </b-popover>
        </template>
        <div v-if="status.finished">
          <slot name="finished">
            <h3>All done</h3>
          </slot>
        </div>
        <div v-else>
          <pr-task :task="activeTask" :enactment="enactment" @update-enactment="updateEnactment" :options="options" @send-trigger="sendTrigger"/>
        </div>
      </div>
      <div class="col-md-6 order-md-1"><!-- enactment status tabs -->
        <b-tabs content-class="mt-3">
          <b-tab v-if="enactment.protocol.tasks" active>
            <template slot="title">
              Map <font-awesome-icon icon="directions"/>
            </template>
            <pr-map :enactment="enactment" :selectedtask="path" @select-task="updatePath"/>
          </b-tab>
          <b-tab v-if="enactment.getDataDefinitions().length>0">
            <template slot="title">
              Data <font-awesome-icon icon="table"/>
            </template>
            <pr-data :enactment="enactment" @update-enactment="updateEnactment" :options="options"/>
          </b-tab>
          <b-tab>
            <template slot="title">
              Select <font-awesome-icon icon="hand-pointer"/>
            </template>
            <div class="row">
              <div class="col-sm-6">
                <b-card-group deck>
                  <b-card>
                    <template slot="header"><h5>Available Tasks</h5></template>
                    <b-list-group v-if="availableTasks.length>0">
                      <b-list-group-item v-for="task in availableTasks" :data-path="path" :data-taskpath="task.path" v-bind:class="{active: task.path==path}" :key="task.name" button @click="updatePath({value:task.path})">{{task.caption || task.name}}</b-list-group-item>
                    </b-list-group>
                    <p v-else class="text-muted">No currently available tasks</p>
                  </b-card>
                </b-card-group>
              </div>
              <div class="col-sm-6">
                <b-card-group deck>
                  <b-card>
                    <template slot="header"><h5>Triggers</h5></template>
                    <b-list-group v-if="status && status.triggers && status.triggers.length>0">
                      <b-list-group-item v-for="(trigger, index) in status.triggers" :key="index" button @click="sendTrigger(trigger)">{{trigger}}</b-list-group-item>
                    </b-list-group>
                    <p v-else class="text-muted">No available triggers</p>
                  </b-card>
                </b-card-group>
              </div>
            </div>
          </b-tab>
          <b-tab>
            <template slot="title">
              History <font-awesome-icon icon="history"/>
            </template>
            <pr-history :enactment="enactment" />
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { ReviewMixin } from './review';

export default {
  mixins: [ReviewMixin]
}
</script>
