<docs>
Provides a UI settings button that opens a popover form.

# props

* options - review settings
* debug - show debug option
* restart - show restart option
* placement - control placement of popover

# events

* change-option - signals an option change
* restart-enactment
</docs>

<template>
  <div>
    <b-button :id="id" variant="outline-secondary">
      <font-awesome-icon icon="cog"/>
    </b-button>
    <b-popover :ref="id" :target="id" :placement="placement" title="Review Settings" triggers="focus">
      <label v-if="debug"><input type='checkbox' :checked="options.debug" @click="$emit('change-option', {option: 'debug', value: !options.debug})"/> Debug expressions</label>
      <div class="font-weight-bold pb-2">Decisions</div>
      <label><input type='checkbox' :checked="options.Decision.showInactiveArguments" @click="$emit('change-option', {category: 'Decision', option: 'showInactiveArguments', value: !options.Decision.showInactiveArguments})"/> Show inactive arguments</label>
      <label><input type='checkbox' :checked="options.Decision.showExpressions" @click="$emit('change-option', {category: 'Decision', option: 'showExpressions', value: !options.Decision.showExpressions})"/> Show expressions</label>
      <label><input type='checkbox' :checked="options.Candidate.autoConfirmRecommended" @click="$emit('change-option', {category: 'Candidate', option: 'autoConfirmRecommended', value: !options.Candidate.autoConfirmRecommended})"/> Auto-confirm candidates</label>
      <label><input type='checkbox' :checked="options.Decision.allowDownloads" @click="$emit('change-option', {category: 'Decision', option: 'allowDownloads', value: !options.Decision.allowDownloads})"/> Allow Downloads</label>
      <div class="font-weight-bold pb-2">Enquiries</div>
      <label><input type='checkbox' :checked="options.Enquiry.useDefaults" @click="$emit('change-option', {category: 'Enquiry', option: 'useDefaults', value: !options.Enquiry.useDefaults})"/> Use defaults</label>
      <b-button
        v-if="restart"
        variant="outline-secondary"
        size="sm"
        @click="sendRestart"
        block >
        <font-awesome-icon icon="redo-alt" /> Restart
      </b-button>
    </b-popover>
  </div>
</template>

<script>
export default {
  props: {
    options: Object,
    id: {
      type: String,
      default: "task-settings"
    },
    debug: {
      type: Boolean,
      default: true
    },
    restart: {
      type: Boolean,
      default: true
    },
    placement: {
      type: String,
      default: 'left'
    }
  },
  methods: {
    sendRestart() {
      this.$emit('restart-enactment');
      this.$refs[this.id].$emit('close');
    }
  }
}
</script>
