<docs>
Provides a very simple mobile UI for a proformajs Enactment.

# props

* enactment - a PROformajs enactment
* options - review settings
* debug - allows access to the "Debug expressions" functionality

# events

* change-enactment - signals the need to update the enactment
* change-option - signals an option change

todo:
* mobile view
* single task mode
</docs>

<template>
  <div v-if="enactment">
    <div class="row">
      <div class="col">
        <b-progress class="my-2" :max="taskCount" :value="progress" height="3px"/>
        <div v-if="status.finished">
          <slot name="finished">
            <h3>Completed</h3>
            <b-button
              block
              variant="outline-secondary"
              @click="restartEnactment">
              <font-awesome-icon icon="redo-alt" /> Restart
            </b-button>
          </slot>
        </div>
        <div v-else>
          <pr-task :task="activeTask" :enactment="enactment" @update-enactment="updateEnactment" :options="options" @send-trigger="sendTrigger"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ReviewMixin } from './review';

export default {
  mixins: [ReviewMixin],
  computed: {
    taskCount() {
      return this.enactment ? this.enactment.getTasks().length : 1;
    },
    progress() {
      return this.enactment ? this.enactment.getTasks().filter((task) => task.state=="discarded" || task.state=="completed").length : 0;
    }
  },
  methods: {
    restartEnactment() {
      this.view = 'task';
      this.$emit('restart-enactment');
    }
  }
}
</script>
