<template>
  <div role="tablist">
    <b-card no-body class="mb-1" v-for="(event, index) in getHistory()" :key="index">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="#" v-b-toggle="historyId(index)" variant="link">
          {{event.heading}}
        </b-button>
      </b-card-header>
      <b-collapse :id="historyId(index)" accordion="history-view" role="tabpanel">
        <b-card-body>
          <b-table striped small :fields="historyFields" :items="event.actions"/>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: ['enactment'],
  data: function() {
    return {
      historyFields: [{key: 'when', label:'When', formatter: value => { return moment(value).calendar(); }}, 'caption']
    }
  },
  methods: {
    getHistory() {
      function getSummary(event) {
        let summary = {
          when: event.timestamp
        }
        if (event.action.complete) {
          summary.path = event.action.complete;
          summary.caption = 'Completed';
        } else if (event.action=="start") {
          summary.path = "";
          summary.caption = "Started";
        } else if (event.action.set) {
          summary.path = event.action.set;
          summary.caption = 'Set data :: ' + JSON.stringify(event.action.data);
        } else if (event.action.unset) {
          summary.path = event.action.unset;
          summary.caption = 'Unset data :: ' + JSON.stringify(event.action.data);
        } else if (event.action.confirm) {
          let confirmed = event.action.confirm.split(":");
          let candidate = confirmed.pop();
          summary.path = confirmed.join(":");
          summary.caption = 'Confirmed ' + candidate;
        } else if (event.action.unconfirm) {
          let unconfirmed = event.action.unconfirm.split(":");
          let candidate = unconfirmed.pop();
          summary.path = unconfirmed.join(":");
          summary.caption = 'Unconfirmed ' + candidate;
        } else if (event.action.trigger) {
          summary.caption = 'Trigger sent :: ' + event.action.trigger;
        } else {
          throw new Error('unknown audit event');
        }
        return summary;
      }
      let result = [];
      let path = null;
      for (let event of this.enactment._audit) {
        let summary = getSummary(event);
        if (summary.path!=path) {
          path = summary.path;
          if (summary.path!=null && summary.path!="") {
            let comp = this.enactment.getComponent(summary.path);
            let heading = comp.caption ? comp.caption : comp.name;
            result.push({heading: heading, actions:[]});
          } else {
            // summary.path = "" for "Started"
            result.push({heading: summary.caption, actions: []});
          }
        }
        result[result.length-1].actions.push({when: summary.when, caption: summary.caption})
      }
      return result;
    },
    historyId(index) {
      return "history" + index;
    }
  }
}
</script>
