<script>
import Vue from 'vue';
import { Protocol } from '@openclinical/proformajs';

const template = {
  "class": "Plan",
  "name": "plan",
  "caption": "Plan",
  "dataDefinitions": [],
  "tasks": [],
  "autonomous": true,
  "meta": {
    "svg": {
      "width": 800,
      "height": 400
    }
  }
};

function checkTaskMeta(plan) {
  if (plan.tasks) {
    for (const [idx, task] of plan.tasks.entries()) {
      if (!task.meta || !task.meta.pos) {
        if (!task.meta) {
          task.meta = {};
        }
        task.meta.pos = {
          x: 80 + idx * 80,
          y: 80
        }
      }
      if (task.tasks) {
        checkTaskMeta(task);
      }
    }
  }
}

function checkMeta(protocol) {
  if (!protocol.meta || !protocol.meta.svg) {
    if (!protocol.meta) {
      protocol.meta = {};
    }
    protocol.meta.svg = {
      width: 800,
      height: 400
    }
  }
  if (protocol.tasks) {
    checkTaskMeta(protocol);
  }
}

export default Vue.extend({
  name: 'ServeDev',
  data: function () {
    return {
      selectedtask: template.name, // initial value,
      tab: "compose",
      protocol: new Protocol.Plan(template),
      initialData: {}
    };
  },
  created: function () {
    // initial data can be passed in the querystring
    // see https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
    const urlParams = new URLSearchParams(window.location.search);
    for (let entry of urlParams.entries()) {
      this.initialData[entry[0]] = JSON.parse(entry[1]);
    }
  },
  computed: {
    startData() {
      let result = {};
      if (this.initialData && Object.keys(this.initialData).length > 0) {
        result[this.protocol.name] = this.initialData;
      }
      return result;
    }
  },
  methods: {
    updateProtocol(e) {
      checkMeta(e.value);
      this.protocol = e.value;
      if (e.selected) {
        this.selectedtask = e.selected;
      }
      // check that selected task is still valid (names may have been changed in the code view)
      try {
        let selected = this.protocol.getComponent(this.selectedtask);
      } catch (e) {
        // drop back to root path in case of error, assumed caused by name changes
        this.selectedtask = this.protocol.name;
      }
    },
    resetProtocol(clazz) {
      if (clazz && ["Action", "Decision", "Enquiry"].indexOf(clazz) > -1) {
        let proto = new Protocol[clazz]({ name: clazz.toLowerCase(), caption: clazz, meta: { svg: { width: 400, height: 200 }, pos: { x: 190, y: 100 } } });
        this.protocol = proto;
        this.selectedtask = clazz.toLowerCase();
      } else {
        this.protocol = new Protocol.Plan(template);
        this.selectedtask = template.name;
      }
    },
    updateSelectedTask(evt) {
      this.selectedtask = evt.value;
    },
  },
});
</script>

<template>
  <div id="app">
    <main role="main">
      <b-navbar toggleable="lg" variant="primary" type="dark" fixed>
        <div class="container-fluid">
          <b-navbar-brand>PRO<em>formajs</em></b-navbar-brand>
          <b-navbar-toggle target="nav_collapse" />
          <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="Reset" right>
                <b-dropdown-item @click="resetProtocol">Plan</b-dropdown-item>
                <b-dropdown-item @click="resetProtocol('Decision')">Decision</b-dropdown-item>
                <b-dropdown-item @click="resetProtocol('Action')">Action</b-dropdown-item>
                <b-dropdown-item @click="resetProtocol('Enquiry')">Enquiry</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </div>
      </b-navbar>
      <div class="container-fluid">
        <b-tabs content-class="mt-3" class="mt-3">
          <b-tab title="Compose" active>
            <p-compose :protocol="protocol" :selectedtask="selectedtask" @change-protocol="updateProtocol"
              @select-task="updateSelectedTask" />
          </b-tab>
          <b-tab title="Review" :disabled="!protocol || !protocol.isValid()">
            <pc-review :protocol="protocol" :debug="true" :initialData="startData"
              :template="protocol && protocol.meta && protocol.meta.enact && protocol.meta.enact.template ? protocol.meta.enact.template : 'compact'" />
          </b-tab>
        </b-tabs>
      </div>
    </main>
  </div>
</template>

<style>
.clickable {
  cursor: pointer;
}
</style>
